:root {
    --text-color: #222;
    --white-color: #fff;
    --red-color: #f65e39;
}

* {
  box-sizing: border-box;  
}


html { 
    /* 10px = 62.5% */
    font-size: 62.5%; 
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
button {
  
  border: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

a:hover {
  color: var(--red-color);
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;

}

.col {
  padding-left: 8px;
  padding-right: 8px;
}


.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 10%;
  max-width: 10%;
}

.c-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.c-3 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.c-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-5 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-6 {
  flex: 0 0 66.6667%;
  max-width:  66.6667%;
}

.c-7 {
  flex: 0 0 70%;
  max-width: 70%;
}

.c-8 {
  flex: 0 0 80%;
  max-width: 80%;
}

.c-9 {
  flex: 0 0 90%;
  max-width: 90%;
}

.c-10 {
  flex: 0 0 100%;
  max-width: 100%;
}
.flex {
  display: flex;
}
.align-center {
  display: flex;
  align-items: center;
} 
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}


.border-radius-8 {
  border-radius: 8px;
}




.mr-12 {
  margin-right: 12px;
}

